[Unit]
Description=YouTube Downloader App Container
After=network-online.target
Wants=network-online.target

[Container]
Image=yt-app.build
ContainerName=yt-app
HostName=yt-app
PublishPort=8443:443
Volume=/var/www/webdav:/var/www/webdav
Volume=/etc/httpd/conf/.htpasswd:/etc/httpd/conf/.htpasswd:ro
Memory=1024M

[Service]
Restart=always
RestartSec=10
